[Desktop Entry]
Type=Application
Name=jterm1
GenericName=Terminal Emulator
Comment=Block-aware GTK terminal emulator
TryExec=jterm1
Exec=jterm1
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
Keywords=terminal;shell;console;command;
StartupNotify=true
StartupWMClass=app.jterm1
